.hero {
    height: 100vh;
    background: linear-gradient(to right, #333, #555);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.hero .btn {
    padding: 10px 20px;
    background-color: white;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.hero .btn:hover {
    background-color: #555;
    color: white;
}
